@import "./variables.scss";
@import '~@angular/material/theming';
@include mat-core();

$custom-dark-theme-primary: mat-palette($ui-primary, 50, 100, 300);
$custom-light-theme-primary: mat-palette($ui-primary, 800, 600, 300);

$custom-theme-accent: mat-palette($ui-secondary, 200);
$custom-theme-warn: mat-palette($ui-third, 900);


$custom-dark-theme: mat-dark-theme(
    $custom-dark-theme-primary,
    $custom-theme-accent,
    $custom-theme-warn
);
$custom-light-theme: mat-light-theme(
    $custom-light-theme-primary,
    $custom-theme-accent,
    $custom-theme-warn
);

@include angular-material-theme($custom-light-theme);

.ui-dark-theme {
    @include mat-button-theme($custom-dark-theme);
    @include mat-checkbox-theme($custom-dark-theme);
    @include mat-form-field-theme($custom-dark-theme);
    @include mat-input-theme($custom-dark-theme);
}

