@import "../app.component.scss";

.ui-nav-bar-system {
    float: left;
    width: 100%;
    height: 110px;
    padding: 10px;
    padding-top: 5px;
}
.ui-nav-bar-system-retract {
    height: 80px;
}

.ui-nav-bar-options {
    float: left;
    height: calc(100% - 165px);
    width: 100%;
    padding: 20px 0px 20px 0px;
}
.ui-nav-bar-options-retract {
    height: calc(100% - 135px);
}

.ui-nav-bar-divisor {
    float: left;
    width: 90%;
    border-bottom: 1px solid $ui-second-border-color;
    margin-left: 5%;
}

.ui-nav-bar-system-logo {
    display: flex;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
}

.ui-nav-bar-system-logo img {
    margin: auto;
    width: 200px;
    height: 70px;
}

.ui-nav-bar-system-logo-retract {
    height: 60px;
}

.ui-nav-bar-system-logo-retract img {
    width: 60px;
    height: 20px;
    margin-left: -10px;
}

.ui-nav-bar-system-name {
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    height: 35px;
    color: $ui-primary-text-color;
    font-size: 14px;
}

.ui-nav-bar-retract-option {
    float: left;
    width: 100%;
    height: 50px;
    padding: 10px;
}

.ui-btn-nav-bar-user-menu {
    float: right;
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    min-width: 40px !important;
    padding: 0px !important;
    max-width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 25px;
}
.ui-nav-bar-option-user {
    font-size: 26px;
    color: $ui-primary-text-color;
}
.ui-nav-bar-option {
    width: 100%;
}
.ui-nav-bar-option-retract {
    min-width: 60px !important;
    text-align: center !important;
    padding: 0px;
    text-align: center;
}
.ui-nav-bar-option-active {
    border-left: 4px solid $ui-primary-background-color;
    background: $ui-second-shadow-color;
}

.ui-btn-nav-bar-retract {
    float: right;
    display: block;
    min-width: 40px !important;
    padding: 0px !important;
    max-width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 25px;
    font-size: 14px;
    color: $ui-primary-text-color;
}