<div class = "ui-container-header ui-home-header">
    <span class = "fa fa-home"></span>
    <span style = "margin-left:10px;"> Bem vindo </span>
</div>
<div class = "ui-home-message">
    <span>Seja feliz =)</span>
</div>