@import "../app.component.scss";

.ui-audit-header, .ui-audit-options {
    background: $ui-primary-background-color;
    color: $ui-primary-text-color;
}
.ui-audit-options {
    float: left;
    width: 100%;
    height: auto;
    padding-left: 40px;
    padding-right: 20px;
}
.ui-header-search {
    float: left;
    margin: auto;
    height: auto;
    min-width: 200px;
    min-height: 50px;
    padding-bottom: 5px;
}
.ui-audit-search-form {
    float: left;
    min-height: 40px;
    width: auto;
    height: auto;
    min-width:200px;
}
.ui-audit-spinner, .ui-audit-search-spinner {
    float: left;
    width: 100%;
    height: 60px;
    margin-left: 10px;
    margin-top: 20px;
    display: flex;
    align-content: center;
    align-items: center;
}
.ui-audit-spinner *, .ui-audit-search-spinner * {
    margin: auto;
    display: flex;
    margin-top: 0px;
    padding: 0px;
}
.ui-audit-search-spinner {
    height: 50px;
    width: 50px;
    margin-left: 0px;
    margin-top: 15px;
}
.ui-audit-slide-toggle {
    font-size: 12px !important;
    width: auto;
    display: block;
    padding-top: 20px;
    padding-left: 10px;
}
.ui-audit-form-field {
    float: left;
    min-width: 100px;
    max-width: 250px;
    height: 40px;
    font-size: 14px;
    padding-right: 10px;
}
.ui-audit-search-count {
    float: left;
    width: 100%;
    padding-top: 5px;
    height: 30px;
}
.ui-audit-btn, .ui-audit-search-btn, .ui-option-btn {
    float: left; 
    display: block;
    color: $ui-second-text-color !important;
    font-size: 20px;
    padding: 0px !important;
    height: 30px;
    line-height: 25px;
    text-align: center;
    border-radius: 25px;
}
.ui-option-btn {
    font-size: 20px !important;
    color: $ui-primary-text-color !important;
    min-width: 30px !important;
    max-width: 30px;
    height: 30px;
    line-height: 25px;
    margin-top: 6px;
}
.ui-audit-search-btn {
    margin-top: 18px;
    color: $ui-primary-text-color !important;
    font-size: 16px !important;
    min-width: 26px !important;
    max-width: 26px;
    height: 26px;
    line-height: 26px;
}
.ui-header-options {
    float: left;
    position: fixed;
    min-width: 60px;
    height: 50px;
    right: 60px;
    top: 10px;
    z-index: 5;
}
.ui-header-option {
    float: left;
    width: 50px;
    height: 50px;
    line-height: 100%;
    font-size: 20px solid;
}
.ui-audit-message {
    width: 100%;
    height: calc(100% - 80px);
    text-align: center;
    font-size: 20px;
    display: flex;
    align-content: center;
    align-items: center;
    color: $ui-primary-text-color;
}
.ui-header-audit-name {
    float: left;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 40px;
    margin-top: 10px !important;
}
.ui-audit-search {
    margin: auto;
    width: 500px;
    height: 250px;
}
.ui-audit-search-empty-message {
    float: left;
    display: block;
    margin-top: 20px;
    color: $ui-third-text-color;
    width: 100%;
    height: 30px;
    font-size: 14px;
}
.ui-audit-field {
    float: left; 
    display: block;
    width: 150px;
    font-size: 16px !important;
    color: $ui-third-text-color;
    margin-left: 10px;
}
.ui-audit-messages {
    margin: auto;
    width: 100%;
}
.ui-normal-text {
    color: $ui-normal-text-color;
}
.ui-audit-text {
    margin-top: 10px;
    width: 100%;
    word-wrap: break-word;
    color: $ui-normal-text-color;
    font-size: 12px;
    text-align: left;
}
.ui-audit-message-error {
    border: 1px dashed $ui-third-border-color;
    color: $ui-error-text-color;
}
.ui-audit-message-request {
    border: 1px dashed $ui-third-border-color;
    color: $ui-normal-text-color;
}
.ui-audit-externalIds {
    float: left;
    padding: 20px;
    width: 100%;
    display: block;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    color: $ui-normal-text-color;
    overflow-y: auto;
}
@media(max-width:670px) {
    .ui-audit-externalIds {
        max-height: none;
        overflow-y: hidden;
    }
}
.ui-audit-externalId {
    margin: auto;
    width: 90%;
    min-height: auto;
    height: auto;
    word-wrap: break-word;
}
.ui-audit-message-informations {
    width: 100%;
    line-height: 18px;
    font-size: 12px;
    color: $ui-normal-text-color;
    text-align: left;
    padding: 10px;
    height: auto;
    word-wrap: break-word;
}
.ui-audit-request-count {
    color: $ui-success-color-color !important;
    font-size: 14px;
    margin-left: 5px;
    margin-top: 0px;
    font-weight: bold;
}
.ui-audit-information {
    float: left;
    width: 180px;
    font-size: 11px;
    padding: 10px;
    padding-top: 15px;
    word-wrap: break-word;
}
.ui-audit-success {
    color: $ui-success-color-color !important;
    font-size: 12px;
    font-weight: bold;
}
.ui-audit-error {
    color: $ui-error-text-color !important;
    font-size: 12px;
    font-weight: bold;
}
.ui-audit-expansion-panel-header {
    height: auto !important;
}
.ui-audit-panel-header {
    font-size: 12px;
    color: $ui-normal-text-color;
    width: 150px;
    float: left;
    display: block;
    text-align: left;
    min-height: 20px;
    height: auto;
    word-wrap: break-word;
    padding: 5px;
}
.ui-audit-title {
    float: left;
    width:100%;
    height: auto;
    font-weight: bold;
}
.ui-audit-sub-title {
    float: left;
    width:100%;
    height: auto;
}


.ui-flex {
    width: 100%;
    height: 100%;
    float: none !important;
}
.ui-flex-child {
    margin: auto !important;
    float: none !important;
    display: flex;
}