<div class = "ui-container-header ui-audit-header">
    <div class = "ui-header-audit-name">
        <span> Auditoria </span>
    </div>
</div>
<div class = "ui-container-body">
    <div class = "ui-audit-options" *ngIf = "externalIds.length > 0">
        <div class = "ui-header-search ui-dark-theme">
            <div class = "ui-audit-search-form">
                <form [formGroup] = "search">
                    <mat-form-field class = "ui-audit-form-field">
                        <input matInput type = "text" placeholder="External id" formControlName="externalId" required>
                    </mat-form-field>
                    <mat-form-field class = "ui-audit-form-field">
                        <input matInput type = "text" placeholder="Atividades" formControlName="activities">
                    </mat-form-field>
                    <div class = "ui-audit-form-field ui-audit-slide-toggle">
                        <mat-slide-toggle formControlName="getAll">{{(!search.get('getAll').value || !search.get('getAll').value === 'false') ? 'Só chamadas' : 'Chamadas & respostas'}}</mat-slide-toggle>
                    </div>
                    <button matTooltip = "Buscar" matTooltipPosition="right" [disabled] = "search.invalid || spinner" mat-button class = "ui-audit-search-btn" (click) = "eventAudit()">
                        <span class = "fas fa-search"></span>
                    </button>
                </form>
            </div>
            <div class = "ui-audit-search-spinner" *ngIf = "spinner" >
                <mat-spinner diameter = "30" color="accent"></mat-spinner>
            </div>
            <div *ngIf = "externalIds.length > 0" class = "ui-audit-search-count">
                Encontrados: {{foundExternalIds()}} de {{externalIds.length}}
            </div>
        </div>
        <div *ngIf = "externalIds.length > 0" class = "ui-header-options">
            <div class = "ui-header-option">
                <button matTooltip = "Gerar relatório de bugs" matTooltipPosition="right" mat-button class = "ui-option-btn" (click) = "eventReport()">
                    <span class = "fas fa-bug"></span>
                </button>
            </div>
        </div>
    </div>
    <div *ngIf = "externalIds.length > 0" class = "ui-audit-externalIds">
        <mat-accordion #panel>
            <mat-expansion-panel (click)="panel.externalId = externalId" class = "ui-audit-externalId" *ngFor = "let externalId of externalIds">
                <mat-expansion-panel-header class = "ui-audit-expansion-panel-header">
                        <mat-panel-title class = "ui-audit-panel-header">
                            <div class = "ui-audit-title">
                                External id
                            </div>
                            <div class = "ui-audit-sub-title" style="padding-top:10px">
                                {{externalId.externalId}}
                            </div>
                        </mat-panel-title>
                        <mat-panel-description>
                            <div class = "ui-audit-information">
                                Quantidade de mensagens do RA encontradas: <span class = "ui-audit-request-count">{{ externalId.messages.length }}</span>
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    
                    <mat-accordion #subPanel *ngIf = "panel.externalId === externalId">
                        <div *ngFor = "let message of externalId.messages">
                            <audit-externalId [messagePanel] = "subPanel" [externalId] = "externalId" [messageId] = "message"></audit-externalId>
                        </div>
                    </mat-accordion>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>

<div *ngIf = "externalIds.length === 0" class = "ui-audit-message ui-light-theme">
    <div class = "ui-audit-search">
        <div class = "ui-audit-search-empty-message">
            Para ambos os campos, se quiser buscar por mais de uma, basta dividir por <b>espaço</b> ou <b>","</b> .
        </div>
        <div class = "ui-audit-search-form ui-flex" style = "margin-top: 80px;">
            <form [formGroup] = "search">
                <mat-form-field class = "ui-audit-field ui-flex-child">
                    <input matInput type = "text" placeholder="External id" formControlName="externalId" required>
                </mat-form-field>
                <mat-form-field class = "ui-audit-field ui-flex-child">
                    <input matInput type = "text" placeholder="Atividades" formControlName="activities">
                </mat-form-field>
                <div class = "ui-audit-form-field ui-flex-child ui-normal-text">
                    <mat-slide-toggle style = "display: flex; margin:auto;" checked = "false" formControlName="getAll">{{(!search.get('getAll').value || !search.get('getAll').value === 'false') ? 'Só chamadas' : 'Chamadas & respostas'}}</mat-slide-toggle>
                </div>
                <button matTooltip = "Buscar" matTooltipPosition="right" [disabled] = "search.invalid || spinner" 
                    mat-button class = "ui-audit-btn ui-flex-child" style = "display: block; margin-top: 20px;" (click) = "eventAudit()">
                    Buscar
                </button>
            </form>
        </div>
        <div class = "ui-audit-spinner" *ngIf = "spinner">
            <mat-spinner diameter = "50"></mat-spinner>
        </div>
    </div>
</div>