<mat-expansion-panel (click) = "eventMessageExpand()" class = "ui-audit-externalId-message">    
    <mat-expansion-panel-header class = "ui-audit-expansion-panel-header">
        <mat-panel-title class = "ui-audit-panel-header">
            <div class = "ui-audit-title">
                {{ (message.activity) ? message.activity.split("#")[1] : "Sem atividade" }}
            </div>
            <div class = "ui-audit-sub-title">
                {{getActivityFromActivateResourceIn(message.activateResourceIn)}}
            </div>
        </mat-panel-title>
        <mat-panel-description>
            <div class = "ui-audit-information">
                {{ parseDate(message.date) }}
            </div>
            <div class = "ui-audit-information">
                {{(message.isCorrelation) ? 'Resposta' : 'Chamada'}}
            </div>
            <div class = "ui-audit-information">
                <span [ngClass] = "{
                    'ui-audit-success': message.errorsMessages.length == 0,
                    'ui-audit-error': message.errorsMessages.length > 0
                }">
                    {{(message.errorsMessages.length === 0) ? 'Não foram encontrados erros' : 'Com erro'}}
                </span>
            </div>
        </mat-panel-description>
    </mat-expansion-panel-header>

    <div class = "ui-audit-message-informations">
        <b>Message id: </b> {{message.messageId}}<br>
        <b>Atividade id: </b> {{message.activity}}<br>
        <b>É a chamada ?: </b> {{(!message.isCorrelation) ? 'SIM': 'NÃO'}}<br>
        <b>Data:</b> {{message.date}}<br>
    </div>

    <mat-accordion *ngIf = "message.notifications.length > 0">
        <mat-expansion-panel class = "ui-audit-externalId-message" >
            <mat-expansion-panel-header class = "ui-audit-expansion-panel-header">
                <mat-panel-title class = "ui-audit-panel-header">
                    Notificações enviadas
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class = "ui-audit-messages">
                <div class = "ui-audit-text ui-audit-message-request" *ngFor = "let notification of message.notifications">
                    {{ notification }}
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion *ngIf = "message.activateResourceIn">
        <mat-expansion-panel class = "ui-audit-externalId-message" >
            <mat-expansion-panel-header class = "ui-audit-expansion-panel-header">
                <mat-panel-title class = "ui-audit-panel-header">
                    Activate Resource In
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class = "ui-audit-text">
                {{ message.activateResourceIn }}    
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion *ngIf = "message.requests.length > 0">
        <mat-expansion-panel class = "ui-audit-externalId-message" >
            <mat-expansion-panel-header class = "ui-audit-expansion-panel-header">
                <mat-panel-title class = "ui-audit-panel-header">
                    Requests feitas
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class = "ui-audit-messages">
                <div class = "ui-audit-text ui-audit-message-request" *ngFor = "let request of message.requests">
                    {{ request }}
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion *ngIf = "message.responses.length > 0">
        <mat-expansion-panel class = "ui-audit-externalId-message" >
            <mat-expansion-panel-header class = "ui-audit-expansion-panel-header">
                <mat-panel-title class = "ui-audit-panel-header">
                    Responses recebidas
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class = "ui-audit-messages">
                <div class = "ui-audit-text ui-audit-message-request" *ngFor = "let response of message.responses">
                    {{ response }}
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion *ngIf = "message.raConnectorIteraction">
        <mat-expansion-panel  class = "ui-audit-externalId-message" >
            <mat-expansion-panel-header class = "ui-audit-expansion-panel-header">
                <mat-panel-title class = "ui-audit-panel-header">
                    Chamada ao Conector
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class = "ui-audit-text">
                {{ message.raConnectorIteraction }}
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion *ngIf = "message.errorsMessages.length > 0">
        <mat-expansion-panel  class = "ui-audit-externalId-message" >
            <mat-expansion-panel-header class = "ui-audit-expansion-panel-header">
                <mat-panel-title class = "ui-audit-panel-header">
                    Erros {{ message.errorsMessages.length }}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class = "ui-audit-messages">
                <div class = "ui-audit-text ui-audit-message-error" *ngFor = "let error of message.errorsMessages">
                    {{ error }}
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion #correlationPanel *ngIf = "message.correlationsMessagesIds.length > 0">
        <mat-expansion-panel *ngFor = "let correlation of correlations$.getValue()" class = "ui-audit-externalId-message" >
            <mat-expansion-panel-header class = "ui-audit-expansion-panel-header">
                <mat-panel-title class = "ui-audit-panel-header">
                    <div class = "ui-audit-title">
                        Resposta {{ (message.activity) ? correlation.activity.split("#")[1] : "Sem atividade" }}
                    </div>
                    <div class = "ui-audit-sub-title">
                        {{getActivityFromActivateResourceIn(correlation.activateResourceIn)}}
                    </div>
                </mat-panel-title>                                
            </mat-expansion-panel-header>

            <mat-accordion *ngIf = "correlation.requests.length > 0">
                <mat-expansion-panel class = "ui-audit-externalId-message" >
                    <mat-expansion-panel-header class = "ui-audit-expansion-panel-header">
                        <mat-panel-title class = "ui-audit-panel-header">
                            Requests filhas feitas
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class = "ui-audit-messages">
                        <div class = "ui-audit-text ui-audit-message-request" *ngFor = "let request of correlation.requests">
                            {{ request }}
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <mat-accordion *ngIf = "correlation.responses.length > 0">
                <mat-expansion-panel class = "ui-audit-externalId-message" >
                    <mat-expansion-panel-header class = "ui-audit-expansion-panel-header">
                        <mat-panel-title class = "ui-audit-panel-header">
                            Responses filhas recebidas
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class = "ui-audit-messages">
                        <div class = "ui-audit-text ui-audit-message-request" *ngFor = "let response of correlation.responses">
                            {{ response }}
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <mat-accordion *ngIf = "correlation.raConnectorIteraction">
                <mat-expansion-panel  class = "ui-audit-externalId-message" >
                    <mat-expansion-panel-header class = "ui-audit-expansion-panel-header">
                        <mat-panel-title class = "ui-audit-panel-header">
                            Resposta do conector
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class = "ui-audit-text">
                        {{ correlation.raConnectorIteraction }}
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <mat-accordion *ngIf = "correlation.errorsMessages.length > 0">
                <mat-expansion-panel  class = "ui-audit-externalId-message" >
                    <mat-expansion-panel-header class = "ui-audit-expansion-panel-header">
                        <mat-panel-title class = "ui-audit-panel-header">
                            Erros {{ correlation.errorsMessages.length }}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class = "ui-audit-messages">
                        <div class = "ui-audit-text ui-audit-message-error" *ngFor = "let error of correlation.errorsMessages">
                            {{ error }}
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-expansion-panel>
    </mat-accordion>
</mat-expansion-panel>